PORT = 

DATABASE_URL=
DATABASE_URL_DEP = 

JWT_SECRET = 
JWT_EXPIRY_TIME = 
Salt_Or_Rounds = 
 
APP_EMAIL = 
APP_EMAIL_PASSWORD = 

CLOUDINARY_NAME = 
CLOUDINARY_KEY = 
CLOUDINARY_SECRET = 

STRIPE_SECRET_KEY =
STRIPE_PUBLIC_KEY = 
STRIPE_WEBHOOK_SECRET = 